
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

/* NAVBAR */
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__t2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar__t3 {
    display: flex;
    gap: 20px;
    align-items: center;
}


.navbar__t3__p2 {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 16px;
}

/* SEARCH SECTION */

.search__big {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.search__title {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin: 20px;
}

.search__input {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
    max-width: 700px;
    width: 90%;
    margin: 20px auto;
}

.search__input input {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

.search__input button {
    border-radius: 30px;
    padding: 8px 15px;
    background-color: #00D352;
    border: none;
}

/* CATEGORIES */
.categories {
    padding: 20px;
}

.sale-image {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.sale-image img {
    width: 22%;
}



/* EXPLORE CARDS */

.explore-card {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.explore-card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}


.iconic-image {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}



.footer__one{
    display: flex;
    gap: 30px;
    padding: 10px;
}
.footer{
    background-color: #F7F7F7;
    margin: 30px;
    padding: 30px;
    color: black;
}
.footer__one p{
    margin: 20px;
}
.footer:hover .footer__one{
    cursor: pointer;
    text-decoration: underline;
}
.help__bar {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #00D352;
    border-radius: 30px;
    padding: 12px 18px;

    font-weight: bold;

    cursor: pointer;
    z-index: 1;
}